DJANGO_SETTINGS_MODULE=config.settings.dev
DEBUG=True
SECRET_KEY=replace-with-a-strong-secret
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=
REDIS_URL=redis://127.0.0.1:6379/0
APP_PREFIX=e2e_chat
USE_REDIS=False
